* {
  box-sizing: border-box;
  
}

/* brand color palette */
:root {

}

.navbar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;

}


.navbar li{
  float: left;
}

body {
 margin: 0;
 padding: 0;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 color: var(--primary);
 background-color: var(--light);
 line-height: 1.5;
}

#header {
  font-family: "Blippo", fantasy;
  background-color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  border: 10px rgb(255, 0, 0);
  border-style: double;
  text-align: center;
  font-weight: 50;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: wrap;
  justify-content: space-around;
}

#locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    padding-left: 1000px;
    padding-right: 1000px;
}

#payment {

}

#about {
   
}

#para {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: white;
  width:fit-content;
  height: fit-content;
}

.title {
    background-color: black;
    display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}
#title {
  height: 150px;
}
nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
}
a:link,
a:visited {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover,
a:active {
  background-color: grey;
}
* {
  background-color: rgb(230, 230, 230);
}
#footer {
  text-align: center;
}
